
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.HTMLTitulo</title>
    <link href="~/Content/Impacto.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        //window.onload = function () { document.getElementByName('impacto').focus(); }
    </script>
</head>
<body>
    <div class="sidenav" id="test1" style="display:none">
        <span href="#">@ViewBag.titulo</span>
    </div>
    <header>
        <input id="activar" name="activar" type="checkbox">

        <div class="contenedor">


            <nav class="menu">

                <!-- Nav tabs -->

                <ul class="ml-md-3 nav nav-tabs" role="tablist" style="margin-left:15%;  border-color:transparent; display:block !important;">

                    <!--  <li id="atras" class="ml-md-5 " style="padding-left:100px;">
                        <a href="javascript:history.back();"><img src="~/Content/img/atras.png" style="width: 20px">Atras</a>
                    </li>-->
                    <!--
                    <li class="ml-md-4 ">
                        <a onclick="document.getElementById('activar').checked = false;document.getElementById('test1').style.display= 'inline';"
                           data-toggle="tab" href="#inicio" role="tab">
                            Inicio
                        </a>
                    </li>
                        -->
                    <li class="ml-md-4 ">
                        <a onclick="document.getElementById('activar').checked = false;document.getElementById('test1').style.display= 'none';"
                           data-toggle="tab" href="#home" role="tab">
                            Base Conceptual
                        </a>
                    </li>

                    <li class="ml-md-4 ">
                        <a onclick="document.getElementById('activar').checked = false;document.getElementById('test1').style.display= 'none';"
                           data-toggle="tab"
                           href="#gearth" role="tab">
                            Aplicación GEE
                        </a>
                    </li>
                </ul>
            </nav>

            <label class="label" for="activar"></label>

        </div>
    </header>


    <!-- Tab panes -->
    <div class="tab-content" style=" height:500px; margin-top:2%;">
        <div class="tab-pane active" id="home" role="tabpanel">
            <iframe id="test2" style="margin: 0 auto; width: 95%; height: 700px;"
                    src="@ViewBag.PB"></iframe>
        </div>

        <div class="tab-pane" id="gearth" role="tabpanel">
            <iframe class="embed-responsive embed-responsive-16by9"
                    style="margin: 0 auto; width: 100%; height: 95vh; "
                    src="@ViewBag.GEE"></iframe>
        </div>

    </div>
</body>
</html>
