
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eleccione Chile</title>
    <link href="~/Content/Impacto.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script type="text/javascript">
        window.onload = function () { document.getElementByName('impacto').focus(); }
    </script>
   
</head>

<body>

    <header>
        <input id="activar" name="activar" type="checkbox">

        <div class="contenedor">
            <nav class="menu">
                <!-- Nav tabs -->
                <ul class="ml-md-3 nav nav-tabs" role="tablist" style="margin-left:15%; border-color:transparent; display:block !important;">

                    <li class="ml-md-4 ">
                        <a onclick="document.getElementById('activar').checked = false;" data-toggle="tab" href="#inicio" role="tab">
                            Inicio
                        </a>
                    </li>
                    <li class="ml-md-2"><a onclick="document.getElementById('activar').checked = false;" data-toggle="tab" href="#alcaldes" role="tab">Elecci&oacute;n Alcaldes</a></li>
                    <li class="ml-md-2"> <a onclick="document.getElementById('activar').checked = false;" data-toggle="tab" href="#concejales" role="tab">Elecci&oacute;n Concejales</a> </li>
                    <li class="ml-md-2"> <a onclick="document.getElementById('activar').checked = false;" data-toggle="tab" href="#constituyentes" role="tab">Elecci&oacute;n Constituyentes</a> </li>
                    <li class="ml-md-2"> <a onclick="document.getElementById('activar').checked = false;" data-toggle="tab" href="#gobernadores" role="tab">Elecci&oacute;n Gobernadores</a> </li>
                    <li class="ml-md-2"> <a onclick="document.getElementById('activar').checked = false;" data-toggle="tab" href="#resultados" role="tab">Resultados Hist&oacute;ricos</a>  </li>
                    <li class="ml-md-2"> <a onclick="document.getElementById('activar').checked = false;" data-toggle="tab" href="#historica" role="tab">Participaci&oacute;n Hist&oacute;rica</a> </li>
                </ul>
            </nav>
            <label class="label" for="activar"></label>
        </div>
    </header>

    <!-- Tab panes -->
    <div class="tab-content" style=" height:500px; margin-top:2%;">
        <div class="tab-pane active" id="inicio" role="tabpanel">
            <img class="img-fluid" style="max-width: 100%; height: auto;" src="https://raw.githubusercontent.com/Sud-Austral/MONITOREO-DI/main/INSUMOS%20GR%C3%81FICOS%20DI/PortadasPowerBi/portadaPowerBi_DataELECCIONES_EstadisticasHistoricasDeParticipacionEnElecciones_2012_2017_CHILE.jpg" />
        </div>

        <div class="tab-pane" id="alcaldes" role="tabpanel">
            <iframe class="embed-responsive embed-responsive-16by9" id="test2" style="margin: 0 auto; width: 100%; height: 95vh;
        border: none; position: absolute; clip: rect(0px, 1500px,602px, 0px);" src="https://app.powerbi.com/view?r=eyJrIjoiNjk1NTE1MzYtNzc4Zi00YjY5LTkxNjEtNzkyOTA4ZWRjMGI4IiwidCI6IjhmYmFhNWJmLTJlY2MtNGRjOC1iNTZiLThmOTJlMzA3ZjA3NiIsImMiOjR9"></iframe>
        </div>

        <div class="tab-pane" id="concejales" role="tabpanel">
            <iframe class="embed-responsive embed-responsive-16by9" id="powerbi" style="margin: 0 auto; width: 100%; height: 95vh;
        border: none; position: absolute; clip: rect(0px, 1500px,602px, 0px);" src="https://app.powerbi.com/view?r=eyJrIjoiZTVmMzFjMzUtNzc2ZC00MmFjLTgzZGYtMzJmMjA2OTUwNjdjIiwidCI6IjhmYmFhNWJmLTJlY2MtNGRjOC1iNTZiLThmOTJlMzA3ZjA3NiIsImMiOjR9"></iframe>
        </div>

        <div class="tab-pane" id="constituyentes" role="tabpanel">
            <iframe class="embed-responsive embed-responsive-16by9" id="powerbi" style="margin: 0 auto; width: 100%; height: 95vh;
        border: none; position: absolute; clip: rect(0px, 1500px,602px, 0px);" src="https://app.powerbi.com/view?r=eyJrIjoiNzI1ZWY2NDctNjFlMC00Nzc2LWI2NzAtOTkxZjE3NTI2MGU1IiwidCI6IjhmYmFhNWJmLTJlY2MtNGRjOC1iNTZiLThmOTJlMzA3ZjA3NiIsImMiOjR9" frameborder="0"></iframe>
        </div>

        <div class="tab-pane" id="gobernadores" role="tabpanel">
            <iframe class=" embed-responsive embed-responsive-16by9" id="powerbi" style="margin: 0 auto; width: 100%; height: 95vh;
        border: none; position: absolute; clip: rect(0px, 1500px,602px, 0px);" src="https://app.powerbi.com/view?r=eyJrIjoiNzkzMTM5MTItOGQyNi00NjZmLTljNjEtNjIzZGRiNjQ1MjIzIiwidCI6IjhmYmFhNWJmLTJlY2MtNGRjOC1iNTZiLThmOTJlMzA3ZjA3NiIsImMiOjR9" frameborder="0"></iframe>
        </div>

        <div class="tab-pane" id="resultados" role="tabpanel">
            <iframe class=" embed-responsive embed-responsive-16by9" id="powerbi" style="margin: 0 auto; width: 100%; height: 95vh;
        border: none; position: absolute; clip: rect(0px, 1500px,602px, 0px);" src="https://app.powerbi.com/view?r=eyJrIjoiMWE5ZGIyY2YtYWY3NS00NWI2LWJkNTQtZTc0MjZkZWRkZmYwIiwidCI6IjhmYmFhNWJmLTJlY2MtNGRjOC1iNTZiLThmOTJlMzA3ZjA3NiIsImMiOjR9" frameborder="0"></iframe>
        </div>

        <div class="tab-pane" id="historica" role="tabpanel">
            <iframe class=" embed-responsive embed-responsive-16by9" id="powerbi" style="margin: 0 auto; width: 100%; height: 95vh;
        border: none; position: absolute; clip: rect(0px, 1500px,602px, 0px);" src="https://app.powerbi.com/view?r=eyJrIjoiYTI4ZjQ5MzMtMTFkZi00NThkLTk3NTctYjNlN2IwYzk2ZWQ1IiwidCI6IjhmYmFhNWJmLTJlY2MtNGRjOC1iNTZiLThmOTJlMzA3ZjA3NiIsImMiOjR9" frameborder="0"></iframe>
        </div>



    </div>
</body>
</html>


